data/
note.txt
CerebrumFrontBack/videos/0000000_00000020240508132920_0006.MP4
CerebrumFrontBack/videos/2_5395803543229709828.mp4
CerebrumFrontBack/videos/VID_20240304_095423.mp4
CerebrumFrontBack/__pycache__/app.cpython-311.pyc
CerebrumFrontBack/__pycache__/model.cpython-311.pyc
CerebrumFrontBack/checkpoints/checkpoint.pt
